@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  box-sizing: border-box;

}

body{
  background: #e5e5e5;

  /* fuente de google fonts */
  font-family: 'Roboto', sans-serif;
}


main{
  /* para que el contenedor no pase de este tamaño */
  max-width: 800px;

  /* ancho de 90% */
  width: 90%;

  /* para poder centrar el contenido automaticamente */
  margin: auto;

  /* 40px a todos los lados */
  padding: 40px;
}